body {
  font-family: 'Muli', sans-serif;
}

.navbar {
    background-color: black;
    z-index: 1;
    display: flex;
    position: absolute; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    top: 0px;
    left: 0px; 
    right: 0px;
    width: 100%; 
    height: 60px;
    transition: top 0.5s; 
  }

#navbar1 {
    float: left;
    display: block;
    color: white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    padding: 15px;
    text-decoration: none;
  }

 
#navbar2 {
    float: right;
    display: block;
    color: darkgray;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    font-style: initial;
    padding: 15px;
  }

#navbar1 a {
    padding: 10px;
    color: white;
}

#navbar2 a {
    padding: 10px;
    color: darkgray;
}

  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.container {
  position: relative;
  width: 100%;
  }

#image {
  width: 100%;
}

.container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.block {
  display: block;
  width: 15%;
  border: none;
  background-color: whitesmoke;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.rectangle2 {
  width: 100vw;
  height: 10vh;
  position: relative;
  background:white;
  color: black;
}

h2 {
  text-align: center;
}
.rectangle3 {
  width: 100vw;
  height: 25vh;
  position: relative;
  background: white;
}
